<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360797608173-ae06od017j546garkfqhmuh5jf3aj1kl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360797608173-ae06od017j546garkfqhmuh5jf3aj1kl</string>
	<key>API_KEY</key>
	<string>AIzaSyBUWFbRMaoBmeMl-DAozdQyMHD5JP5y1R4</string>
	<key>GCM_SENDER_ID</key>
	<string>360797608173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookStore</string>
	<key>PROJECT_ID</key>
	<string>bookstroe-88651</string>
	<key>STORAGE_BUCKET</key>
	<string>bookstroe-88651.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360797608173:ios:f6790aa3119957265414e4</string>
</dict>
</plist>